<p>This is our home page</p>
<% if user_signed_in? %>
  <%= link_to "User logs", "user_logs#index"%>
  <br></br>
  <%= link_to "User goals", "goals#index"%>
  <br></br>
  <%= link_to "User edit", "devise/registrations#edit"%>
<% end %>